.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

.widget__message {
    border-bottom: 1px solid lighten($light-blue, 10%);
    padding: $xl-size;
    margin: 0;
    text-align: center;
    color: $off-white;
}

.widget-header {
    background: $blue;
    color: $off-white;
     display: flex;
    justify-content: space-between;
    padding: $m-size;
   
}

.widget-header__tittle{
    margin: 0;

}

